body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #000;
  margin: 0;
  padding: 20px;
  color: #fff;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

header h1 {
  color: #fff;
  margin: 10px 0;
}

/* Logo */
.logo {
  width: 100px;
  height: auto;
  margin: 10px 0;
}

/* Ana Menü butonu */
#mainMenuBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 14px;
  z-index: 1000;
}

#mainMenuBtn:hover { background: #444; }

/* Yeniden başlat butonu header altında ortada */


#restartBtn:hover { background: #444; }

/* Container yan yana */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 20px;
  min-height: 300px;
}

/* Sol kolon */
.items {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Ortadaki butonlar üst üste ve ortada */
.meanings {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: center;
}

/* Kartlar */
.item {
  padding: 12px 20px;
  border-radius: 12px;
  background: white;
  color: #000;
  cursor: grab;
  user-select: none;
  transition: all 0.2s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.item:hover { transform: scale(1.05); }
.item.matched { background: #28a745; color: #fff; cursor: default; } /* doğru kart yeşil */
.item.wrong { background: #dc3545; color: #fff; cursor: default; } /* yanlış kart kırmızı */

/* Drop butonları */
.option-btn {
  width: 100%;
  padding: 15px 0;
  border-radius: 12px;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.option-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

/* 4/4 sayacı kartların altında */
#result {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
#restartBtn {
  margin-top: 20px;
  height: auto;
  width: 100px;
  font-weight: bold;
  padding: 20px 0;
  border-radius: 20px;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

/* MOBİL - butonlar üst üste, ortada */
@media (max-width: 600px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .items { width: 50%; }
  .meanings { width: 40%; gap: 10px; }
}
